<!DOCTYPE html>

<html lang="en" class="light-style layout-menu-fixed layout-compact" dir="ltr" data-theme="theme-default"
	data-assets-path="/assets/" data-template="vertical-menu-template-free">
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8" />
	<meta name="viewport"
		content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

	<title>Product - Food Saver Creator</title>

	<meta name="description" content="" />

	<!-- Favicon -->
	<link rel="icon" type="image/x-icon" href="/assets/img/favicon/food_saver_ico.ico" />

	<!-- Fonts -->
	<link rel="preconnect" href="https://fonts.googleapis.com" />
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
	<link
		href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
		rel="stylesheet" />

	<link rel="stylesheet" href="/assets/vendor/fonts/boxicons.css" />

	<!-- Core CSS -->
	<link rel="stylesheet" href="/assets/vendor/css/core.css" class="template-customizer-core-css" />
	<link rel="stylesheet" href="/assets/vendor/css/theme-default.css" class="template-customizer-theme-css" />
	<link rel="stylesheet" href="/assets/css/demo.css" />

	<!-- Vendors CSS -->
	<link rel="stylesheet" href="/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />
	<link rel="stylesheet" href="/assets/vendor/libs/apex-charts/apex-charts.css" />

	<!-- Page CSS -->

	<!-- Helpers -->
	<script src="/assets/vendor/js/helpers.js"></script>
	<!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
	<!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
	<script src="/assets/js/config.js"></script>
</head>

<body>
	<!-- Layout wrapper -->
	<div class="layout-wrapper layout-content-navbar">
		<div class="layout-container">
			<!-- Menu -->
			<div th:replace="~{fragments/food_creator_menu :: menu(role_id=5)}"></div>
			<!-- / Menu -->

			<!-- Layout container -->
			<div class="layout-page">
				<!-- Navbar -->
				<div th:replace="~{fragments/navbar :: navbar}"></div>
				<!-- / Navbar -->

				<!-- Content wrapper -->
				<div class="content-wrapper">
					<!-- Content -->
					<div class="container-xxl flex-grow-1 container-p-y">
						<div class="card">
							<div class="table-header">
								<h5 class="card-header">Product</h5>

								<div style="padding: 15px;"><a th:href="@{'/food_creator/products/add'}"
										class="btn btn-success">Tạo</a>
								</div>
							</div>

							<div class="table-responsive text-nowrap">
								<table class="table">
									<thead>
										<tr>
											<th>Id</th>
											<th>Hình ảnh</th>
											<th>Tên</th>
											<th>Danh mục</th>
											<th>Mô tả</th>
											<th>Giá</th>
											<th>Giá khuyến mãi</th>
											<th>Thao tác</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="product : ${listproducts}">
											<td th:text="${product.id}"></td>

											<td th:if="${product.image == null || product.image == ''}"><img
													th:src="@{'/images/none_image_product.jpg'} " height="40px" , />
											</td>
											<td th:unless="${product.image == null || product.image == ''}"><img
													th:src="@{'data:image/jpeg;base64,' + ${product.image}}"
													height="40px" />
											</td>

											<td th:text="${product.name}"></td>
											<td th:text="${product.category.name}"></td>
											<td>
												<span th:text="${product.description}"
													style="display: block; width: 220px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">
												</span>
											</td>
											<td
												th:text="${T(com.funix.foodsaveradmin.utils.ParseUtils).parseVNDCurrency(product.price)}">
											</td>
											<td
												th:text="${T(com.funix.foodsaveradmin.utils.ParseUtils).parseVNDCurrency(product.discountPrice)}">
											</td>
											<td>
												<div class="demo-inline-spacing">
													<a class="btn btn-info"
														th:href="@{/food_creator/products/update/{id}(id=${product.id})}"
														style="text-decoration: none; color: white;">
														Sửa</a>
													<button class="btn btn-danger" data-bs-toggle="modal"
														data-bs-target="#modalDelete"
														th:attr="data-id=${product.id}">Xóa</button>
												</div>
											</td>
										</tr>
									</tbody>
								</table>

								<div th:if="${totalPages > 1}" style="padding: 15px;">
									<div class="table-pagination">
										<div>
											Tổng số hàng: [[${totalItems}]]
										</div>
										<nav aria-label="Page navigation">
											<ul class="pagination">
												<li class="page-item first">
													<a th:if="${currentPage >= 2}" class="page-link"
														th:href="@{'/food_creator/products/page/' + ${currentPage - 1}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}"><i
															class="tf-icon bx bx-chevrons-left"></i></a>
													<a th:unless="${currentPage >= 2}" class="page-link"><i
															class="tf-icon bx bx-chevrons-left"></i></a>
												</li>
												<span th:each="i: ${#numbers.sequence(1, totalPages)}"
													style="padding-left: 2px; padding-right: 2px;">
													<li th:if="${currentPage != i}" class="page-item">
														<a class="page-link"
															th:href="@{'/food_creator/products/page/' + ${i}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">[[${i}]]</a>
													</li>
													<li th:unless="${currentPage != i}" class="page-item active">
														<a class="page-link">[[${i}]]</a>
													</li>
												</span>
												<li class="page-item last">
													<a th:if="${currentPage < totalPages}" class="page-link"
														th:href="@{'/food_creator/products/page/' + ${currentPage + 1}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}"><i
															class="tf-icon bx bx-chevrons-right"></i></a>
													<a th:unless="${currentPage < totalPages}" class="page-link"><i
															class="tf-icon bx bx-chevrons-right"></i></a>
												</li>

											</ul>
										</nav>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- / Content -->

					<!-- Footer -->
					<div th:replace="~{fragments/footer :: footer}"></div>
					<!-- / Footer -->

					<!-- Modal -->
					<div class="modal fade" id="modalDelete" aria-labelledby="modalToggleLabel" tabindex="-1"
						style="display: none" aria-hidden="true">
						<div class="modal-dialog modal-dialog-centered">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="modalToggleLabel">Xóa
									</h5>
									<button type="button" class="btn-close" data-bs-dismiss="modal"
										aria-label="Close"></button>
								</div>
								<div class="modal-body">Bạn có chắc chán muốn xóa sản phẩm này</span>?</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
										Đóng
									</button>
									<button type="button" class="btn btn-danger" id="confirmDelete">Xóa</button>
								</div>
							</div>
						</div>
					</div>
					<!-- / Modal -->

				</div>
				<!-- Content wrapper -->
			</div>
			<!-- / Layout page -->
		</div>

		<!-- Overlay -->
		<div class="layout-overlay layout-menu-toggle"></div>
	</div>
	<!-- / Layout wrapper -->



	<!-- Core JS -->
	<!-- build:js assets/vendor/js/core.js -->

	<script src="/assets/vendor/libs/jquery/jquery.js"></script>
	<script src="/assets/vendor/libs/popper/popper.js"></script>
	<script src="/assets/vendor/js/bootstrap.js"></script>
	<script src="/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
	<script src="/assets/vendor/js/menu.js"></script>

	<!-- endbuild -->

	<!-- Vendors JS -->
	<script src="/assets/vendor/libs/apex-charts/apexcharts.js"></script>

	<!-- Main JS -->
	<script src="/assets/js/main.js"></script>

	<!-- Page JS -->
	<script src="/assets/js/dashboards-analytics.js"></script>

	<!-- Place this tag in your head or just before your close body tag. -->
	<script async defer src="https://buttons.github.io/buttons.js"></script>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script>
		$(document).ready(function () {
			$('#modalDelete').on('show.bs.modal', function (event) {
				var button = $(event.relatedTarget);
				var productId = button.data('id');
				var modal = $(this);
				var deleteButton = modal.find('#confirmDelete');
				deleteButton.off('click').on('click', function () {
					window.location.href = '/food_creator/products/delete/' + productId;
				});
			});
		});
	</script>
</body>

</html>